
.animation-delay-0-5s{
    animation-delay: 0.5s;
}
.animation-delay-1s{
    animation-delay: 1s;
}
.animation-delay-1-5s{
    animation-delay: 1.5s;
}
.animation-delay-2s{
    animation-delay: 2s;
}
.animation-delay-2-5s{
    animation-delay: 2.5s;
}
.animation-delay-3s{
    animation-delay: 3s;
}
.animation-delay-4s{
    animation-delay: 4s;
}
.animation-delay-4-5s{
    animation-delay: 4.5s;
}
.animation-delay-5s{
    animation-delay: 5s;
}
.animation-delay-5-5s{
    animation-delay: 5.5s;
}
.animation-delay-6s{
    animation-delay: 6s;
}
.animation-delay-6-5s{
    animation-delay: 6.5s;
}
.animation-delay-7s{
    animation-delay: 7s;
}
.animation-delay-7-5s{
    animation-delay: 7.5s;
}
.animation-delay-8s{
    animation-delay: 8s;
}
.animation-delay-8-5s{
    animation-delay: 8.5s;
}
.animation-delay-9s{
    animation-delay: 9s;
}
.animation-delay-9-5s{
    animation-delay: 9.5s;
}
.animation-delay-10s{
    animation-delay: 10s;
}
.animation-delay-10-5s{
    animation-delay: 10.5s;
}
.animation-delay-11s{
    animation-delay: 11s;
}
.animation-delay-11-5s{
    animation-delay: 11.5s;
}
.animation-delay-12s{
    animation-delay: 12s;
}
.animation-delay-13-5s{
    animation-delay: 13.5s;
}
.animation-delay-14s{
    animation-delay: 14s;
}
.animation-delay-14-5s{
    animation-delay: 14.5s;
}
.animation-delay-15s{
    animation-delay: 15s;
}
